<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331796268559-e16hfds1h6jsg2if8adjroj4p8s5bh73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331796268559-e16hfds1h6jsg2if8adjroj4p8s5bh73</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-uc3TP9a_2lsAKBv7fnaowVQ_Td4Bk8</string>
	<key>GCM_SENDER_ID</key>
	<string>331796268559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easymartShreejan</string>
	<key>PROJECT_ID</key>
	<string>eazymart-87519</string>
	<key>STORAGE_BUCKET</key>
	<string>eazymart-87519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331796268559:ios:f818b4232cf766f865857a</string>
</dict>
</plist>